.spin{
    background-color: #000;
    width: 60px;
    height: 60px;
}
.fas{
    font-size:48px;
    color: #fff;
}
.one{
    animation-duration: 0.55s;
}
.two{
    animation-duration: 0.65s;
}
.tree{
    animation-duration: 0.75s;
}