<div class="container-fluid fondoContact">
    <form class="container col-6 contactForm" style="background-color: transparent;" method="" action="">
            <h2 style="color: #fff; text-align:center" >Escribanos su consulta</h2>
        <div class="mb-3">
            <label class="form-label" style="color: #fff">Nombre <span style="color: red;">*</span></label>
            <input id="nombreContacto" name="nombre" type="text" class="form-control" placeholder="Ingrese su nombre">
        </div>
        <div class="mb-3">
            <label class="form-label" style="color: #fff">Apellido <span style="color: red;">*</span></label>
            <input id="apellidoContacto" name="apellido" type="text" class="form-control" placeholder="Ingrese su apellido">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail " class="form-label " style="color: #fff">Email <span style="color: red;">*</span></label>
            <input id="mailContacto" name="email" type="email" class="form-control" placeholder="Ingrese su mail">
        </div>
        <div class="mb-3">
            <label for="celular" class="form-label" style="color: #fff">Celular</label>
            <input id="telefonoContacto" name="celular" type="tel" class="form-control" placeholder="Ingrese su celular">
        </div>
        <div class="mb-3 row">
            <label  class="form-label" style="color: #fff">Mensaje <span style="color: red;">*</span></label>
            <textarea name="mensaje" id="msg" cols="30" rows="10" placeholder="Ingrese su mensaje/consulta"></textarea>
        </div>
        <div class="mb-3">
            <p style="color: #efde2c;">*Su consulta tendra una respuesta dentro de las 24hs.</p>
        </div>
        <div class="mb-3 d-grid gap-2">
            <button type="" class="btn" >Enviar mensaje</button> 
        </div>
        <div class="d-flex justify-content-center text-danger" style="font-size: larger;"></div> 
    </form>
</div>
<div class="container-fluid subs">
    <form class="row g-3 mt-4 justify-content-center">
        <h6 style="text-align: center;color: #fff">Suscribite con tu mail y recibi hasta un 10% de descuento en tu primer compra!</h6>
        <div class="col-4">
          <input type="email" class="form-control" placeholder="Ingrese aqui su email">
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary mb-3">Suscribirse al Newslatters</button>
        </div>
      </form>
</div>