<div class="container">
    <h1 class="text">Categorias :</h1>
  </div>
  <div class="container">
    <div class="col">
      <div class="row">
        <table class="table table-hover text-center">
          <thead>
            <th>id</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>-</th>
            <th>-</th>
          </thead>
          <tbody>
            
              <tr>
                <td>1</td>
                <td>Papas fritas</td>
                <td>Papas fritas crocantes</td>
                <td><a href="/admin/categorias/update/" class="btn btn-success">Editar <i class="fas fa-edit"></i> </a></td>
                <td><a href="/admin/categorias/delete/" class="btn btn-danger">Eliminar <i class="fas fa-minus-square"></i></a></td>
              </tr>
            
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="container " >
    <div class="col" style="display: flex; justify-content:space-evenly">
       <a class="btn" id="adminFun" href="/admin/usuarios">Usuarios</a>
      <a class="btn" id="adminFun" href="/admin/productos">Productos</a>
      <a class="btn" id="adminFun" href="/admin/categorias">Categorias</a>
      <a class="btn" id="adminFun" href="/admin/empleados">Empleados</a>
      <a class="btn" id="adminFun" href="/admin/mensajes">Mensajes</a>
    </div>
  </div>