<div class="container-fluid">
    <h2 class="text-center">Nuestros productos!</h2>
</div>
<div class="container">
    <div class="row">
        <div class="col-4 d-flex justify-content-center mt-4">
            <div class="card producto" style="width: 18rem;">
                <img src="./../../../../../assets/images/burgers.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Chessburger</h5>
                  <p class="card-text">Hamburguesa con panceta y cheddar.</p>
                  <div class="row">
                  <div class="col">
                    <a href="#" class="btn btn-success">Añadir al carrito</a>
                  </div>
                  <div class="col">
                    <a href="#" class="btn btn-primary">Ver mas</a>
                  </div>
                </div>
                </div>
              </div>
        </div>
        <div class="col-4 d-flex justify-content-center mt-4">
            <div class="card producto" style="width: 18rem;">
                <img src="./../../../../../assets/images/burgers.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Chessburger</h5>
                  <p class="card-text">Hamburguesa con panceta y cheddar.</p>
                  <div class="row">
                  <div class="col">
                    <a href="#" class="btn btn-success">Añadir al carrito</a>
                  </div>
                  <div class="col">
                    <a href="#" class="btn btn-primary">Ver mas</a>
                  </div>
                </div>
                </div>
              </div>
        </div>
        <div class="col-4 d-flex justify-content-center mt-4">
            <div class="card producto" style="width: 18rem;">
                <img src="./../../../../../assets/images/burgers.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Chessburger</h5>
                  <p class="card-text">Hamburguesa con panceta y cheddar.</p>
                  <div class="row">
                  <div class="col">
                    <a href="#" class="btn btn-success">Añadir al carrito</a>
                  </div>
                  <div class="col">
                    <a href="#" class="btn btn-primary">Ver mas</a>
                  </div>
                </div>
                </div>
              </div>
        </div>
        <div class="col-4 d-flex justify-content-center mt-4">
            <div class="card producto" style="width: 18rem;">
                <img src="./../../../../../assets/images/burgers.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Chessburger</h5>
                  <p class="card-text">Hamburguesa con panceta y cheddar.</p>
                  <div class="row">
                  <div class="col">
                    <a href="#" class="btn ">Añadir al carrito</a>
                  </div>
                  <div class="col">
                    <a href="#" class="btn">Ver mas</a>
                  </div>
                </div>
                </div>
              </div>
        </div>
    </div>
</div>