<div class="container-fluid">
  <div class="container comienzo text-center text">
    <h2>Nuestro equipo!</h2>
    <h5>2 años de experiencia en el rubro gastronomico</h5>
    <p>
      Contamos con una historia que inicia en el año 2020, a causa de la
      pandemia mundial decidimos abrir un nuevo negocio de comidas a domicilio.
      Asi comienza Janz Burgers.
    </p>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-4 mt-4">
        <div class="card" style="size:15px;">
          <img src="./../../../../../assets/images/giann.jpg" alt="..." class="card-img-top"/>
          <div class="card-body">
            <h3 class="card-title">empleado.name</h3>
            <p class="card-text">
              empleado.gender - empleado.species - empleado.status
            </p>
            <p class="card-text">empleado.created | date: "short"</p>
            <a routerLink="/empleados/empleado.id" class="btn btn-primary"
              >Ver mas</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
