.comienzo{
    height: 90vh !important;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.1)), url(./../../../../../assets/images/jannnn.png);
    background-size:cover;
    background-position:center;
    color: #fff;
    font-size:25px;
}
